/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./components/Header/Header.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Header_header__pXml_ {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.Header_logo__sUWiP {
  width: 180px;
  height: auto;
}

.Header_nav__qviEC {
  margin-left: auto;
  display: flex;
  gap: 1.5rem;
}

.Header_nav__qviEC a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./components/FeatureCard/FeatureCard.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.FeatureCard_card__587uQ {
  padding: 1rem;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./components/DownloadCta/DownloadCta.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.DownloadCta_cta__5XnV9 {
  padding: 2rem;
  background-color: var(--color-primary);
  color: white;
  text-align: center;
}
.DownloadCta_buttons__zypJ4 button {
  margin: 0.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  background-color: white;
  color: var(--color-primary);
}

/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
.page_features__GdcOS {
  display: grid;
  grid-gap: 1rem;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 2rem;
}

